.try-section {
  text-align: center;
  padding: 40px;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.input {
  padding: 10px;
  width: 300px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.btn {
  background: var(--button-bg);
  color: rgb(18, 75, 233);
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: var(--button-hover);
}

.output-card {
  width: 300px;
  margin-top: 20px;
  padding: 15px;
  background: #0faed6;
  border-radius: var(--border-radius);
}
